<html ng-app="app">
<head>
	<title>Mt. Palace Bouldering League</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	angular.module('app', ['ngStorage'])
		.controller('controller', function($scope, $localStorage, $sessionStorage) {
			load();

			$scope.climbs = function(){
     			return new Array(50);
			};
			
			$scope.compute = function($index){
				//LOGIC FOR 
				if ($scope.form[$index].column1 == 1) $scope.form[$index].total = 50;
				if ($scope.form[$index].column1 == 2) $scope.form[$index].total = 40;
				if ($scope.form[$index].column1 == 3) $scope.form[$index].total = 30;
				if ($scope.form[$index].column1 == 4) $scope.form[$index].total = 30;
				if ($scope.form[$index].column1 == 5) $scope.form[$index].total = 20;
				if ($scope.form[$index].column1 > 5) $scope.form[$index].total = 10;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 1) $scope.form[$index].total = 9;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 2) $scope.form[$index].total = 8;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 3) $scope.form[$index].total = 7;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 4) $scope.form[$index].total = 6;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 5) $scope.form[$index].total = 5;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 > 5) $scope.form[$index].total = 5;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 1) $scope.form[$index].total = 4;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 2) $scope.form[$index].total = 3;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 3) $scope.form[$index].total = 2;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 4) $scope.form[$index].total = 1;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 > 4) $scope.form[$index].total = 0;
				if ($scope.form[$index].column2 > 2) $scope.form[$index].total = 0;

				//Display total at bottom of screen
				$scope.total = $scope.form.reduce(sum, 0);
				save();
			}

			function sum(total, value){
				return total + value.total;
			}

			function save(){
				$localStorage.data = $scope.form;
			}

			function load(){
				$scope.form = $localStorage.data ? $localStorage.data : [];
				$scope.total = $scope.form.reduce(sum, 0);
			}

		});
</script>

</head>
<body ng-controller="controller">
	<h1 align="center">Mt. Palace Bouldering League</h1>
	<form>
		<table class="centered">
			<thead>
				<tr>
					<th>Route</th>
					<th>Tries</th>
					<th>+Holds</th>
					<th>Points</th>
				</tr>
			</thead>

			<tbody>
	   			<tr ng-repeat="n in climbs() track by $index">
	   				<td><h2>{{$index+1}}<h2></td>
	   				<td>
	   					<div class="input-field">
	   						<input type="text" ng-model="form[$index].column1" ng-change="compute($index)">
	   					</div>
	   				</td>

	   				<td>
	   					<div class="input-field">
	   						<input type="text" ng-model="form[$index].column2" ng-change="compute($index)">
	   					</div>
	   				</td>
	   				<td>
	   					<div class="input-field">
	   						<input type="text" readonly ng-model="form[$index].total"></td>
	   					</div>
	   				</td>
	   			</tr>
	   		</tbody>
	   		<thead>
	   			<tr>
	   				<th></th>
	   				<th></th>
	   				<th><h2>Score:</h2></th>
					<th><h2>{{total}}</h2></th>
	   			</tr>
	   		</thead>
		</table>
	</form>
</body>
</html>