<html ng-app="app">
<head>
	<title>Bouldering League</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	angular.module('app', ['ngStorage'])
		.controller('controller', function($scope, $localStorage, $sessionStorage) {

			this.$onInit = function () {
				var climbs = new Array(50).fill(null).map(climb => ({
					attempts: 0, holds: 0, total: 0
				}));
				$scope.climbs = $localStorage.data ? $localStorage.data : climbs;
				$scope.total = $scope.climbs.reduce(sum, 0);
			}

			$scope.compute = function(climb){
				if (climb.attempts === 0) climb.total = 0;
				if (climb.attempts === 1) climb.total = 50;
				if (climb.attempts === 2) climb.total = 40;
				if (climb.attempts === 3) climb.total = 30;
				if (climb.attempts === 4) climb.total = 20;
				if (climb.attempts >= 5) climb.total = 10;
				if (climb.holds === 1 && climb.attempts === 1) climb.total = 9;
				if (climb.holds === 1 && climb.attempts === 2) climb.total = 8;
				if (climb.holds === 1 && climb.attempts === 3) climb.total = 7;
				if (climb.holds === 1 && climb.attempts === 4) climb.total = 6;
				if (climb.holds === 1 && climb.attempts >= 5) climb.total = 5;
				if (climb.holds === 2 && climb.attempts === 1) climb.total = 4;
				if (climb.holds === 2 && climb.attempts === 2) climb.total = 3;
				if (climb.holds === 2 && climb.attempts === 3) climb.total = 2;
				if (climb.holds === 2 && climb.attempts === 4) climb.total = 1;
				if (climb.holds === 2 && climb.attempts > 4) climb.total = 0;
				if (climb.holds > 2) climb.total = 0;
				$scope.total = $scope.climbs.reduce(sum, 0);
			}

			$scope.addTry = function(climb){
				climb.attempts ++;
				$scope.compute(climb);
				save();
			}

			$scope.removeTry = function(climb){
				climb.attempts --;
				climb.attempts = Math.max(climb.attempts, 0);
				$scope.compute(climb);
				save();
			}

			$scope.addHold = function(climb){
				climb.holds ++;
				$scope.compute(climb);
				save();
			}

			$scope.removeHold = function(climb){
				climb.holds --;
				climb.holds = Math.max(climb.holds, 0);
				$scope.compute(climb);
				save();
			}

			function sum(total, value){
				return total + value.total;
			}

			function save(){
				$localStorage.data = $scope.climbs;
			}
		});
</script>

<style type="text/css">
	body {
    	display: flex;
    	min-height: 100vh;
    	flex-direction: column;
  	}

  	main {
    	flex: 1 0 auto;
  	}
		* {
			touch-action: manipulation;
  	}
</style>

</head>
<body ng-controller="controller">
   	<nav class="nav-extended teal lighten-2 center">
   		<div class="nav-wrapper">
     		<a><h1>Bouldering League</h1></a>
   		</div>
    </nav>
<main>
	<form>
		<table class="centered">
			<thead>
				<tr>
					<th><h4><strong>Route</strong></h4></th>
					<th><h4><strong>Attempts</strong></h4></th>
					<th><h4><strong>+Holds</strong></h4></th>
					<th><h4><strong>Points</strong></h4></th>
				</tr>
			</thead>
			<tbody>
	   			<tr ng-repeat="climb in climbs track by $index">
	   				<td><h2>{{$index+1}}</h2></div></td>
	   				<td>
	   					<div><h3>{{climb.attempts}}</h3>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="addTry(climb)"><i class="material-icons">add</i></a>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="removeTry(climb)"><i class="material-icons">remove</i></a></div>
	   				</td>
	   				<td>
	   					<div><h3>{{climb.holds}}</h3>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="addHold(climb)"><i class="material-icons">add</i></a>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="removeHold(climb)"><i class="material-icons">remove</i></a></div>
	   				</td>
	   				<td>
	   					<div><h3>{{climb.total}}</h3></div>
	   				</td>
	   			</tr>
	   		</tbody>
		</table>
		</div>
		</div>
	</form>
</main>
<footer class="page-footer teal lighten-2">
	<div class="container">
		<div class="row">
			<h1 class="white-text right">Total Score: {{total}}</h1>
		</div>
	</div>
</footer>
</body>
</html>