<html ng-app="app">
<head>
	<title>Bouldering League</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
	angular.module('app', ['ngStorage'])
		.controller('controller', function($scope, $localStorage, $sessionStorage) {
			load();

			$scope.climbs = function(){
     			return new Array(50);
			};
			
			$scope.compute = function($index){
				//LOGIC FOR 
				if ($scope.form[$index].column1 == 0) $scope.form[$index].total = 0;
				if ($scope.form[$index].column1 == 1) $scope.form[$index].total = 50;
				if ($scope.form[$index].column1 == 2) $scope.form[$index].total = 40;
				if ($scope.form[$index].column1 == 3) $scope.form[$index].total = 30;
				if ($scope.form[$index].column1 == 4) $scope.form[$index].total = 20;
				if ($scope.form[$index].column1 == 5) $scope.form[$index].total = 10;
				if ($scope.form[$index].column1 > 5) $scope.form[$index].total = 10;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 1) $scope.form[$index].total = 9;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 2) $scope.form[$index].total = 8;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 3) $scope.form[$index].total = 7;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 4) $scope.form[$index].total = 6;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 == 5) $scope.form[$index].total = 5;
				if ($scope.form[$index].column2 == 1 && $scope.form[$index].column1 > 5) $scope.form[$index].total = 5;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 1) $scope.form[$index].total = 4;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 2) $scope.form[$index].total = 3;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 3) $scope.form[$index].total = 2;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 == 4) $scope.form[$index].total = 1;
				if ($scope.form[$index].column2 == 2 && $scope.form[$index].column1 > 4) $scope.form[$index].total = 0;
				if ($scope.form[$index].column2 > 2) $scope.form[$index].total = 0;

				//Display total at bottom of screen
				$scope.total = $scope.form.reduce(sum, 0);
				save();
			}

			$scope.addTry = function($index){
				$scope.form[$index].column1++;
				$scope.compute($index);
			}

			$scope.removeTry = function($index){
				$scope.form[$index].column1 --;
				$scope.form[$index].column1 = Math.max($scope.form[$index].column1, 0);
				$scope.compute($index);
			}

			$scope.addHold = function($index){
				$scope.form[$index].column2++;
				$scope.compute($index);
			}

			$scope.removeHold = function($index){
				$scope.form[$index].column2 --;
				$scope.form[$index].column2 = Math.max($scope.form[$index].column2, 0);
				$scope.compute($index);
			}

			function sum(total, value){
				return total + value.total;
			}

			function save(){
				$localStorage.data = $scope.form;
			}

			function load(){
				$scope.form = $localStorage.data ? $localStorage.data : [];
				$scope.total = $scope.form.reduce(sum, 0);
			}

		});
</script>

<style type="text/css">
	body {
    	display: flex;
    	min-height: 100vh;
    	flex-direction: column;
  	}

  	main {
    	flex: 1 0 auto;
  	}
</style>

</head>
<body ng-controller="controller">
   	<nav>
   		<div class="nav-wrapper teal lighten-2">
     		<a href="#" class="brand-logo">Bouldering League</a>
   		</div>
    </nav>
	<form>
		<table>
			<thead>
				<tr>
					<th style="width:10%">Route</th>
					<th style="width:40%">Attempts</th>
					<th style="width:40%">+Holds</th>
					<th style="width:10%">Points</th>
				</tr>
			</thead>

			<tbody>
	   			<tr ng-repeat="n in climbs() track by $index">
	   				<td style="width:10%"><h2>{{$index+1}}</h2></td>
	   				<td style="width:40%"><div ng-init="form[$index].column1 ? form[$index].column1 : form[$index].column1=0">
	   					<div><h4>{{form[$index].column1}}</h4></div>
	   					<div><a class="btn-floating btn-large waves-effect waves-light" ng-click="addTry($index)"><i class="material-icons">add</i></a>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="removeTry($index)"><i class="material-icons">remove</i></a></div></div>
	   				</td>

	   				<td style="width:40%"><div ng-init="form[$index].column2 ? form[$index].column2 : form[$index].column2=0">
	   					<div><h4>{{form[$index].column2}}</h4></div>
	   					<div><a class="btn-floating btn-large waves-effect waves-light" ng-click="addHold($index)"><i class="material-icons">add</i></a>
	   					<a class="btn-floating btn-large waves-effect waves-light" ng-click="removeHold($index)"><i class="material-icons">remove</i></a></div></div>
	   				</td>
	   				<td style="width:10%"><h4>{{form[$index].total}}</h4></td>
	   			</tr>
	   		</tbody>
		</table>
		</div>
		</div>
	</form>
</body>
<footer class="page-footer teal lighten-2">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text right">Total Score: {{total}}</h5>
			</div>
		</div>
	</div>
</footer>
</html>